.side-panel{
    border-radius: 16px;
    width: 100%;
    padding-bottom: 10px;
    background-color: rgb(247, 249, 249);
    box-shadow: 0 0 3px 0 #00000022;
}

.side-panel ul{
    width: 100%;
}

.side-panel-item{
    border: none;
    padding: 10px 20px;
    background-color: rgb(247, 249, 249);
}

.side-panel-item-content{
    width: 100%;
}