.signup-panel-container {
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.signup-panel {
    /* box-shadow: 0 0 5px 0 #00000022; */
    border-radius: 16px;
    width: 50%;
}

.signup-panel ul {
    border-radius: 16px;
    width: 100%;
}

.signup-panel li {
    list-style: none;
    width: 100%;
}

.signup-panel-item {
    border: none;
}

.LoginButton {
    display: flex;
    align-items: center;
    width: 65%;
    margin: 1.5% auto;
    padding: 2% 0;
    justify-content: center;
    border: 0.05rem solid rgb(159, 156, 156);
}

.signup-panel-item .general-button-container {
    width: 100%;
}

.signup-panel button {
    height: auto;
    width: 100%;
}

.passwordContainer{
    width: 100%;
    margin: 1.5% auto;
}