.header {
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0.9);
    border-bottom: .9px solid rgb(211, 211, 211, 0.3);
    border-right: .9px solid rgb(211, 211, 211, 0.3);
    /* border-top: .9px solid rgb(211, 211, 211, 0.3); */
    height: 50px;
    padding: 10px 18px 32px 18px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header p{
    font-size: 1rem;
}